.mec {
    font-family: 'Roboto Condensed', sans-serif;
    width: 250px;
    margin: auto;
    border: 1px solid $border-color;
    display: flex;
    align-items: center;
    background-color: $background;
    color: $text;

    .border-poz {
        border-right: 1px solid $border-color;
    }

    .img,
    .time,
    .teams {
        display: flex;
        align-items: center;
        height: 50px;
    }

    .img {
        flex: 0 0 auto;

        a {
            width: 24px;
            height: 24px;
            display: block;
            overflow: hidden;
            text-indent: -1000px;
            margin-left: 8px;
            margin-right: 8px;
        }

        .sprite {
            width: 24px;
            height: 24px;
            background-image: url("../images/sports.jpg");
            background-repeat: no-repeat;

            &.sprite-football {
                background-position: 0 0;
            }
        }
    }

    .time{
        flex: 0 0 auto;
        padding: 0 8px;

    }

    .teams {
        flex-direction: row;
        flex: 1 0 auto;

        .players {
            flex: 1 0 auto;
            padding-left: 8px;
            .player-1,
            .player-2 {
                flex: 1 0 auto;
                width: 100%;
            }
        }
        .scores {
            flex: 0 0 auto;
            display: flex;

            .finised,
            .progres {
                margin-right: 5px;
            }
        }
    }



}

.y-text {
    .time {
        color: $y-text;
    }

    .finised {
        color: $y-text;
    }

}
