/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_layout.scss */
.mec {
  font-family: 'Roboto Condensed', sans-serif;
  width: 250px;
  margin: auto;
  border: 1px solid #213443;
  display: flex;
  align-items: center;
  background-color: #131315;
  color: #d6d6d6;
}
/* line 11, ../sass/_layout.scss */
.mec .border-poz {
  border-right: 1px solid #213443;
}
/* line 15, ../sass/_layout.scss */
.mec .img,
.mec .time,
.mec .teams {
  display: flex;
  align-items: center;
  height: 50px;
}
/* line 23, ../sass/_layout.scss */
.mec .img {
  flex: 0 0 auto;
}
/* line 26, ../sass/_layout.scss */
.mec .img a {
  width: 24px;
  height: 24px;
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  margin-left: 8px;
  margin-right: 8px;
}
/* line 36, ../sass/_layout.scss */
.mec .img .sprite {
  width: 24px;
  height: 24px;
  background-image: url("../images/sports.jpg");
  background-repeat: no-repeat;
}
/* line 42, ../sass/_layout.scss */
.mec .img .sprite.sprite-football {
  background-position: 0 0;
}
/* line 48, ../sass/_layout.scss */
.mec .time {
  flex: 0 0 auto;
  padding: 0 8px;
}
/* line 54, ../sass/_layout.scss */
.mec .teams {
  flex-direction: row;
  flex: 1 0 auto;
}
/* line 58, ../sass/_layout.scss */
.mec .teams .players {
  flex: 1 0 auto;
  padding-left: 8px;
}
/* line 61, ../sass/_layout.scss */
.mec .teams .players .player-1,
.mec .teams .players .player-2 {
  flex: 1 0 auto;
  width: 100%;
}
/* line 67, ../sass/_layout.scss */
.mec .teams .scores {
  flex: 0 0 auto;
  display: flex;
}
/* line 71, ../sass/_layout.scss */
.mec .teams .scores .finised,
.mec .teams .scores .progres {
  margin-right: 5px;
}

/* line 83, ../sass/_layout.scss */
.y-text .time {
  color: #bb974b;
}
/* line 87, ../sass/_layout.scss */
.y-text .finised {
  color: #bb974b;
}
